.varela {
    font-family: 'Varela Round', sans-serif;
}

body {
    background-color:#BBBDF6 !important; 
}

.fill {
   flex-grow: 1;
   position: relative;
}

.user-form p {
    color:#797A9E;
}

.user-form a {
    color: #797A9E;
    text-decoration: none;
}

.user-form a:hover {
    color:#797A9E; 
    text-decoration:underline; 
    cursor:pointer;  
}

.login-div {
    position: absolute;
    height: 100%;
    width: 80%;
}

input {
    color: white;
    -webkit-text-fill-color: white;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

input:-webkit-autofill,
input:-webkit-autofill::first-line,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow:0 0 0 50px #797A9E inset; /* Change the color to your own background color */
    -webkit-text-fill-color: white;
    font-family: 'Varela Round', sans-serif;
}


input.user-input, input.user-input:focus, input.user-input::placeholder {
    background-color: #797A9E;
    border-radius: 15px;
    font-family: 'Varela Round', sans-serif;
    font-size: medium;
}

.form-button {
    background-color: #797A9E !important;
    color: white !important;
    width: 40%;
    border-radius: 15px !important;
}

